name: Deploy Lambda Functions

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Zip and deploy ingest lambda
        run: |
          cd lambdas
          zip ingest_lambda.zip ingest_lambda.py
          aws lambda update-function-code \
            --function-name event_ingest_lambda \
            --zip-file fileb://ingest_lambda.zip

      - name: Zip and deploy report lambda
        run: |
          cd lambdas
          zip report_lambda.zip report_lambda.py
          aws lambda update-function-code \
            --function-name daily_report_lambda \
            --zip-file fileb://report_lambda.zip
